@import './base.css';

#app {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

.page {
  flex: 1 0 auto;
}

[class*='__container'] {
  max-width: 400px;
  margin-inline: auto;
  padding-inline: 10px;
}

.section__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
